
<%= form_for(@repository) do |f| %>
  <%= f.hidden_field :repository_type, value: 'external' %>
  <div class="form-group">

    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
