
		<div id="page-wrapper" ng-app="results-overview">
            <div class="row">
                <div class="col-lg-10">
                    <h2 class="page-header">Repository: <%= @repository.full_name%>
                        <% if @build %>
                            <p>Build Status: <%=@build.build_status %></p>
                            <p>Average Response: <%=@build.average_response %></p>
                            <p>Percent Change: <%=@build.percent_change %></p>
                            <p>Total Endpoints: <%=@build.build_endpoints.count %></p>
                        <% end %>
                    </h2>

                </div>

                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-10" ng-controller="BuildStatusCtrl" ng-init="init('/builds/ongoing.json', <%= @repository.id%>)">
                    <h3 class="page-header" ng-hide="!show_status">
                    <div>
                        <p>
                            <strong>Build Status: {{build_status}}</strong>
                            <span class="pull-right text-muted">{{build_percent}}% Complete</span>
                        </p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{build_percent}}%">
                                <span class="sr-only">{{build_percent}}% Complete (success)</span>
                            </div>
                        </div>
                    </div>
                    </h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <% if @repository %>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-10" ng-controller="TestResultCtrl">
                	<div ng-init="init('/repositories/<%= @repository.id%>/summary.json')"></div>
                    <div class="panel panel-default" ng-repeat="endpointdata in repodata" >
                        <div class="panel-heading" >
                            <i class="fa fa-bar-chart-o fa-fw"></i> Endpoint:{{endpointdata.endpoint.url}} response
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Chart
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Response time</a>
                                        </li>
                                        <li><a href="#">% Change</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        	<linechart data="endpointdata"></barchart>
                        </div>

                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.col-lg-8 -->
            </div>
            <% end %>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
        <!-- Page-Level Demo Scripts - Blank - Use for reference -->
        <script src="/src/app/results-overview/results-overview.js"></script>
    	<!-- script src="/js/demo/dashboard-demo.js"-->
    	<!-- /script -->