<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PerformanceCI</title>

    <%= stylesheet_link_tag    "application", media: "all"%>
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>


    <!-- Core CSS - Include with every page -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Blank -->
    <link href="/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="/css/sb-admin.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><%= image_tag 'performanceci-big-logo.png', style: 'width: 150px; height: 75px; margin-top: -25px;' %></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><%= link_to(destroy_user_session_path, :method => :delete) do %><i class="fa fa-sign-out fa-fw"></i> Logout
                            <% end %>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

        </nav>
        <!-- /.navbar-static-top -->

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="<%= results_overview_index_path%>"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <% if current_user %>
                        <li class="active">
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Repositories<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            <% current_user.repositories.order('name').each do |repo| %>
                                <li>
                                    <a href="/results_overview?repository_id=<%= repo.id%>"><%= repo.full_name %></a>
                                </li>

                            <% end %>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    <% end %>


                    <li>
                        <a href="<%= new_repository_path %>"><i class="fa fa-edit fa-fw"></i>
                            Add Repository
                        </a>
                    </li>
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->

        <!-- Begin /#page-wrapper - make sure this page-wrapper id is inside your partial-->
        <%= yield %>
        <!-- End /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <script src="/src/lib/angular/angular-resource.js"></script>

    <!-- Core Scripts - Include with every page -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Core Application Framework Scripts - Include with every page -->

    <!-- Page-Level Plugin Scripts - Blank -->
    <script src="/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="/js/plugins/morris/morris.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Blank - Use for reference -->
</body>

</html>
